<%= form_tag  url: show_poker_pokers_path do  %>
  <span >操作时间：
    <%= text_field_tag  :poker_time, params[:poker_time], class: "pickerdate" %>
  </span>
  <%= button_tag "查询",class: "combtn_black btn_search" %>
  </p>
<% end %>


<div id="basic_line">
  <%= high_chart('chart_basic_line', @chart) %>
</div>
